# Android/Java
.gradle
.idea
build
*.class
*.iml
gradle
gradle.properties
local.properties
gradlew
gradlew.*
*/build
*/*.iml

app/src/main/java/com/example/fmblzf/netmodel/retrofit/
projectFilesBackup/
libs/JavaMD5.jar
